@import './colors.scss';

.child {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  
  
  section {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: center;
    height: 100vh;
    background-color: $primary-color-dark;
    
  }

  
  .item-header{
    justify-self: start;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
    min-height: 8vh;
    padding: 0.5em;
    font-size: 32px;
  }


  .gridcontainer{
      display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
  }

  .item-main{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  .item-carousel{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 5;
    display: flex;
  }

  .item-introduction{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    align-self: center;
    justify-self: center;
    text-align: center;
  }