@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary-color-light: #312A37;
$primary-color-dark: #2A2131;
$accent-color: #BF6464; 

*{
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

nav{
  position: fixed;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
}

/*For some reason this is required to make scroll snapping work in chrome*/
html,body{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
/*And this is needed to hide the other scroll bar...*/
html{
  overflow-y: hidden;
}

.logo{
  padding-left: 1em;
  font-size: 36px;
}

.nav-links{
  grid-column: 6/6;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
  padding: 1em;
  width: 10%;
  font-size: 28px;
}

.nav-links li{
  list-style: none;
}

.nav-links a:hover{
  color: #BF6464;
  transition: 0.5s;
  border-bottom: 3px dotted;
  
}

.nav-links a{
  text-decoration: none;
  transition: 0.5s;
}

.center{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-bottom{
  position: relative;
  top: 100vh;
  left: 50vw;
  transform: translate(-50%, -100%);
}
.center-top{
  position: absolute;
  left: 50vw;
  transform: translate(-50%, -100%);
}

.frontParagraph{
  text-align: center;
}

i{
  color:#BF6464;
  padding-right: 0.25em;
  padding-left: 0.25em;
  transition: 0.5s;
  text-shadow: 0px 7px #2A2131;
}

i:hover{
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

.child {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

section {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: 8vh;
  align-items: center;
  position: relative;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  height: 100vh;
  background-color: $primary-color-light;
}
section:nth-of-type(2n){
  background-color: #2A2131;
} 

.section-header{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  padding-left: 1em;
  font-size: 32px;
}


.card{
  position: relative;
  background-color:#1E1824;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30vw;
  height: 30vw;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  display: grid;
  grid-auto-rows: 1fr;
  justify-content: space-evenly;
  align-items: center;
  grid-gap:1em;
  border-top: 0.35em ridge #BF6464;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: -1em;
  border-bottom-right-radius: -1em;
}

@media only screen and (max-width: 1024px){
  .card{
    position: relative;
    width: 80vw;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#1E1824;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    display: grid;
    grid-auto-rows: 1fr;
    justify-content: space-around;
    align-items: center;
    grid-gap:1em;
    border-top: 0.35em ridge #BF6464;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: -1em;
  border-bottom-right-radius: -1em;

  }
}


.card-info{
  width: 100%;
  height: 100%;
  position:absolute;
  background: #BF6464;
  padding: inherit;
  border-radius: inherit;
  display:grid;
  grid-template-rows: repeat(7,1fr);
  grid-template-columns: repeat(1,1fr);
  clip-path: circle(5% at 50% 0%);
  transition: all .5s ease-in-out;
  cursor: pointer;
  &:hover{
    clip-path: circle(100%);
    background: $primary-color-light;
  }
}

.card-info-element{
  padding:1em;
}

.huge{
  font-size: 48px;
}

.accent-style{
  color: #BF6464;
}

.card-icons{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  margin: auto;
  grid-gap: 3em;
}

.BrainhubCarousel__arrows {
  background-color: #BF6464;
  &:hover {
    transition: 0.3s;
    background-color: !important white;
    cursor: pointer;
  }
  &:enabled {
    background-color:#BF6464;
  }
}

.BrainhubCarousel__dot{
  background-color: #BF6464;
}