@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './colors.scss';

*{
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/*For some reason this is required to make scroll snapping work in chrome*/
html,body{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
/*And this is needed to hide the other scroll bar...*/
html{
  overflow-y: hidden;
}

.frontParagraph{
  text-align: center;
}

.BrainhubCarousel__arrows {
  background-color: #BF6464;
  &:hover {
    transition: 0.3s;
    background-color: !important white;
    cursor: pointer;
  }
  &:enabled {
    background-color:#BF6464;
  }
}

.BrainhubCarousel__dot{
  background-color: #BF6464;
}

