@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

nav{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
}

/*For some reason this is required to make scroll snapping work in chrome*/
html,body{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
/*And this is needed to hide the other scroll bar...*/
html{
  overflow-y: hidden;
}

.logo{
  padding-left: 1em;
  font-size: 36px;
}

.nav-links{
  grid-column: 5/5;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
  width: 10%;
  font-size: 28px;
}

.nav-links li{
  list-style: none;
}

.nav-links a:hover{
  color: #BF6464;
  transition: 0.5s;
  border-bottom: 5px dotted;
}

.nav-links a{
  text-decoration: none;
  transition: 0.5s;
}

.center{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-bottom{
  position: relative;
  top: 100vh;
  left: 50vw;
  transform: translate(-50%, -100%);
}
.center-top{
  position: absolute;
  left: 50vw;
  transform: translate(-50%, -100%);
}

.frontParagraph{
  text-align: center;
}

i{
  color:#BF6464;
  padding-right: 0.25em;
  padding-left: 0.25em;
  transition: 0.5s;
  text-shadow: 0px 7px #2A2131;
}

i:hover{
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

.child {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

section {
  position: relative;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  height: 100vh;
  background-color: #312A37;
}
section:nth-of-type(2n){
  background-color: #312A37;
} 

.section-header{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  padding-left: 1em;
  font-size: 32px;
}
.carousel-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
}
.card{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  min-height: 90vh;
  background-color:#1E1824;
}